#map {
    height: 100vh;
}

/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

#info {
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}